{{ define "jobapp/list" }}
<div class="container px-6 lg:px-12 mx-auto grid">

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    {{ len .JobApps }} Job Applications
    </h2>
		

    <div class="table-wrapper fade-in w-full rounded-lg border-t border-gray-100 dark:border-gray-700 shadow-xs overflow-hidden">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap ">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b border-gray-300 dark:border-gray-900 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Application</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Date Applied</th>
              </tr>
            </thead>
            <tbody  class="  bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-800">

            {{ range .JobApps }}
              <tr class="text-gray-700 dark:text-gray-400 cursor-pointer hover:bg-gray-100 hover:dark:bg-gray-700 " 
                hx-get="/apps/edit/{{ .ID }}" hx-target="#content" hx-select="#content" hx-push-url="true"
                >
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                      <i class="fa fa-file-lines rounded-full bg-gray-50 text-fuchsia-800 p-[.6rem]"></i>
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div class="w-[170px] md:w-auto">
                      <p class="font-semibold ">{{ .Position }}</p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        {{ .Company }}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-xs">

                {{ if or (eq .Status "applied") 
                         (eq .Status "interview") 
                         (eq .Status "offer") 
                         (eq .Status "rejected")
                         (eq .Status "accepted") }}
                    <span class="badge badge-{{ .Status }}">
                        {{ .Status }}
                    </span>
                 {{ else  }}
                    <span class="badge badge-default">
                        {{ .Status }}
                    </span>
                {{ end }}    
                </td>
                <td class="px-4 py-3 text-sm">
                  {{ .DateApplied.Format "Jan 2, 2006" }}
                </td>
              </tr>
            {{ end }}
            </tbody>
        </table>
      </div>
      {{ template "components/pagination" .Params.Pagination }}
    </div>


</div>
{{ end }}